@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color:hsl(214, 12%, 88%);
}